.element__like-button {
  background-color: rgba(0, 0, 0, 0);
  background: url("../../../images/icons/like-icon.svg") center center/22px 19px
    no-repeat;
  border: none;
  align-self: center;
  height: 19px;
  width: 22px;
  margin: 0;
  padding: 0;
  align-self: center;
  cursor: pointer;
  outline: none;
  padding: 9.5px 11px;
  transition: opacity 0.3s ease-out;
  transition: background-image 0.3s ease-out;
}

.element__like-button:hover {
  opacity: 0.5;
}

.element__like-button:active {
  background: url("../../../images/icons/like-icon-active.svg")
} 
